image: docker:latest

services:
  - name: docker:dind
    alias: thedockerhost

stages:
  - sonarqube
  - build
  - update-manifest

variables:
  TAG: $CI_COMMIT_SHA

sonarqube-check:
  stage: sonarqube
  tags:
    - docker-ci
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  services: []
  only:
    - main

build_node:
  stage: build
  needs:
    - build_go
  tags:
    - runnernya
  only:
    - main
  before_script:
    - sudo apt-get update -y
    - sudo apt-get install -y openssh-client sshpass
  script:
    - docker logout
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker build --progress "auto" -t $IMAGE_NODE:$TAG -f ./services/nodejs-app/Dockerfile ./services/nodejs-app && docker push $IMAGE_NODE:$TAG
    - docker logout

build_go:
  stage: build
  tags:
    - runnernya
  only:
    - main
  before_script:
    - sudo apt-get update -y
    - sudo apt-get install -y openssh-client sshpass
  script:
    - docker logout
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker build --progress "auto" -t $IMAGE_GO:$TAG -f ./services/go-app/Dockerfile ./services/go-app && docker push $IMAGE_GO:$TAG
    - docker logout

update_manifests:
  stage: update-manifest
  tags:
    - runnernya
  only:
    - main
  before_script:
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
    - git config --global credential.helper store
    - echo "http://${GITLAB_CI_USER}:${GITLAB_CI_TOKEN}@${CI_SERVER_HOST}" > ~/.git-credentials
  script:
    # - pwd
    # - ls -R .
    - |
      sed -i "s|image: .*/go-app:.*|image: ${IMAGE_GO}:${TAG}|g" argocd/go-app.yaml
      sed -i "s|image: .*/nodejs-app:.*|image: ${IMAGE_NODE}:${TAG}|g" argocd/node-app.yaml
    - git add argocd/
    - git commit -m "Update images to $CI_COMMIT_SHA [skip ci]" || echo "No changes to commit"
    - git push "http://${GITLAB_CI_USER}:${GITLAB_CI_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:main
  needs:
    - build_go
    - build_node